.container-filter {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: 'Inter', sans-serif;
  color: white;
  padding: 20px;
  background-color: #1e1822;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  gap: 12px;
}

.filter-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.filter-summary {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tag {
  background-color: #2a2233;
  color: #ddd;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 0.75rem;
  white-space: nowrap;
}

.accordion-section {
  width: 100%;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.container-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.container-item {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.container-checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.filter-controls-bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 15px;
}

.clear-button {
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 1rem;
}

.clear-button:hover {
  background-color: #8e44ad;
  border-color: #8e44ad;
}
